$search-panel-bg-color: #dcdce0;
$input-bg-color: #fff;
$title-color: #00c4cc;
$main-color: #939597;
$hover-color: #f5df4d;

.search-panel {
  display: flex;
  width: 40%;
  height: 50px;
  margin-bottom: 40px;
  padding: 10px;
  background: $search-panel-bg-color;
  border-radius: 5px;

  & input {
    width: 70%;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    background: $input-bg-color;
    color: $main-color;
    font-size: 24px;
    border: none;
    border-radius: 5px;
  }

  & button {
    width: 30%;
    background: $main-color;
    border: none;
    border-radius: 5px;
    color: $hover-color;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    transition: all 0.3s ease;

    &:hover {
      color: $main-color;
      background: $hover-color;
      cursor: pointer;
    }
  }
}
