.about-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: $card-bg-color;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  & .img {
    width: inherit;
    height: 300px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;

    & img {
      width: inherit;
      height: 100%;
    }
  }

  & .text {
    padding: 15px;
    display: block;
    height: 150px;
    padding: 10px 0;
    color: $title-color;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
