.search-panel {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 20px;
  padding: 10px;
  background: $search-panel-bg-color;
  border-radius: 5px;

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .page-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    max-width: 150px;
  }

  .result-input,
  .page-input {
    width: 50%;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    background: #fff;
    color: #939597;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }

  .page-input {
    width: 19%;
  }

  .result-label,
  .page-label {
    display: flex;
    line-height: 2.5em;
    user-select: none;
    transition: all 0.3s ease;
    color: $main-color;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
  .page-nav {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .page-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &-text {
      color: $main-color;
      font-size: 16px;
      font-weight: 600;
      line-height: 173%;

      span {
        color: $title-color;
      }
    }
  }

  & div {
    display: flex;
  }

  & input {
    width: 70%;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    background: $input-bg-color;
    color: $main-color;
    font-size: 24px;
    border: none;
    border-radius: 5px;
  }

  & button {
    width: 30%;
    background: $main-color;
    border: none;
    border-radius: 5px;
    color: $hover-color;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    transition: all 0.3s ease;

    &:hover {
      color: $main-color;
      background: $hover-color;
      cursor: pointer;
    }
  }

  .sorting {
    display: flex;
    justify-content: center;
    padding: 10px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;

      .sorting-input {
        visibility: hidden;
        transition: all 0.3s ease;

        &:not(:checked) ~ label:before {
          content: '\2714';
          text-indent: 0.9em;
          color: $search-panel-bg-color;
        }

        &:hover:not(:checked) ~ label:before {
          content: '\2714';
          text-indent: 0.9em;
          color: $hover-color;
        }

        &:hover:not(:checked) ~ label {
          color: #888;
        }

        &:checked ~ label:before {
          content: '\2714';
          text-indent: 0.9em;
          color: $main-color;
          background-color: $hover-color;
        }

        &:checked ~ label {
          color: $main-color;
        }

        &:focus ~ label:before {
          box-shadow: 0 0 0 3px #999;
        }
      }

      .sorting-label {
        min-width: 160px;
        border-radius: 6px;
        border: 1px solid #d1d3d4;
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        user-select: none;
        transition: all 0.3s ease;
        color: $main-color;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        text-transform: capitalize;

        &::before {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          content: '';
          width: 2.5em;
          background: $main-color;
          border-radius: 3px 0 0 3px;
        }
      }
    }
  }
}
